body {
    background-color: black;
  }
*{
    color:white;
}
a:link {
    color:aqua;
}
a:visited {
    color:blueviolet;
}
.top {
    overflow: hidden;
    background-color: #333;
}

.top a:link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .top a:hover {
    background-color: black;
    color: white;
  }

  .top a:visited {
    background-color: black;
    color: white;
  }
  
  .content {
    background-color: black;
    padding: 10px;
  }
  
  .bot {
    background-color: black;
    padding: 10px;
  }