@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background-color: black;
  }

*{
  
    color:white;
}

h1{
    font-family: Helvetica, serif;
    font-weight: 800;
}

h2{
    font-family: Helvetica, serif;
    font-weight: 800;
}

p{
    font-family: 'Rubik', Helvetica, sans-serif;
}

a:link {
    color:aqua;
}

a:visited {
    color:violet;
}

.top {
    overflow: hidden;
    background-color: #333;
}

.top a:link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .top a:hover {
    background-color: black;
    color: white;
  }

  .top a:visited {
    background-color: black;
    color: white;
  }
  
  .content {
    background-color: black;
    padding: 10px;
  }
  
  .bot {
    background-color: black;
    padding: 10px;
  }